/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.add-button {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px!IMPORTANT;
  background-color: #007bff!important;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;

  // Hover və Focus effektləri
  &:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }

  &:focus {
    outline: none;
  }

  // Material Icon yerləşdirilməsi
  mat-icon {
    margin-right: 8px;
  }
}
.full-width {
  width: 100%;
  margin-bottom: 16px;
}
.students-card {
  margin: 24px;
  padding: 16px;
}

.table-container {
  overflow-x: auto;
  margin-top: 16px;
}

.spacer {
  flex: 1 1 auto;
}
